.listCard {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #f6f6f6;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 768px) {
  .listCard {
    background-color: #fff;
    margin: 0;
  }
}
