.logementContent-header h1 {
  color: var(--main-color);
}

.collapseLogement {
  display: flex;
  gap: 80px;
  width: 100%;
}

.collapseLogement ul {
  padding: 0;
  margin: 0;
}
.collapseLogement li {
  list-style: none;
  display: flex;
}
