.collapse {
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}
.collapse__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  border-radius: 10px;
}
.collapse__content img {
  margin-right: 10px;
  cursor: pointer;
}
.collapse__content h1 {
  font-size: 20px;
  margin-left: 10px;
}
.collapse__text {
  background-color: #f6f6f673;
  color: black;
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.2s ease, opacity 0.2s ease;
  margin: 0;
  padding: 15px;
}
.collapse__text.open {
  max-height: 500px;
  opacity: 1;
}

.collapse__arrow {
  display: inline-block;
  transition: transform 0.5s ease;
}

.collapse__arrow.open {
  transform: rotate(-0.5turn);
}
