.imagePrincipale {
  margin-top: 20px;
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 25px;
}
.fleche {
  cursor: pointer;
  border: solid;

  &.fleche--droite {
    position: absolute;
    top: 30%;
  }

  &.fleche--gauche {
    position: absolute;
    top: 30%;
  }
}

.currentImage {
  border: solid;
  position: absolute;
}

@media (max-width: 768px) {
  .imagePrincipale {
    height: 300px;
  }
}
