.imagePrincipale {
  margin-top: 20px;
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 25px;
}
.fleche {
  cursor: pointer;

  &.fleche--droite {
    position: absolute;
    top: 31%;
    right: 17%;
  }

  &.fleche--gauche {
    position: absolute;
    top: 31%;
    left: 17%;
  }
}

.currentImage {
  color: white;
  position: absolute;
  top: 54%;
  right: 49%;
}

@media (max-width: 768px) {
  .imagePrincipale {
    height: 300px;
  }
  .currentImage {
    display: none;
  }
  .fleche {
    width: 20px;

    &.fleche--droite {
      right: 10%;
    }

    &.fleche--gauche {
      left: 10%;
    }
  }
}
