.tagList ul {
  padding: 0;
  display: flex;
  gap: 15px;
  margin: 0;
}

.tagList li {
  list-style: none;
  background-color: var(--main-color);
  color: white;
  border-radius: 50px;
  width: 150px;
  font-size: 14px;
  font-weight: bold;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
